<% l = locals[:lecture] %>
  <div class="item">
    <div class="heading"><%= l.name %></div>
    <div class="textarea"><%= l.body %></div>
    <div class="timestamps"><%= l.created_at %></div>
    <div class="timestamps"><%= l.updated_at %></div>
    <div class="actions"><%= render 'lectures/actions', :locals => {:lecture => l} %></div>
  </div>